<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<html>

<head>

    <title>D3</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">

	<script src="{{url_for('static', filename='scripts/script.js') }}"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>	

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="navbar-toggler-icon"></span>
		</button> <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{url_for('static', filename='img/logoGlobe.png') }}" alt="Logo" style="width: 50px; height: 50px;"></a>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="navbar-nav"></ul>

			<ul class="navbar-nav ml-md-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('inspire') }}">Inspirations <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('d3_data') }}">D3 Graph<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="http://10.25.138.109:3000/">Country Data<span class="sr-only">(current)</span></a>
				</li>

			</ul>
		</div><br><br><br>
	</nav>

	<div id="success"><h2>Assignment 01</h2></div>
	
	<a>X : </a>
	<select name="XAxis" id="XAxis">
	</select>
	<br>
	
	<a>Y : </a>
	<select name="YAxis" id="YAxis">
	</select>
	<br>
	
	<svg width="1080" height="1080">
	</svg>
	
	<div id="background-destruction"></div>
	
    <script type="text/javascript">
	
		$(document).ready(function()
		{
			$.ajax({
				//Get all the countries from the countries page.
				url: "http://10.25.138.109/countries",
				//force to handle it as text
				dataType: "text",
				success: function(data) {

					//data downloaded so we call parseJSON function 
					//and pass downloaded data
					var json = $.parseJSON(data);
					
					var example_array = {
						ValueA : 'co2_emissions_tonnes_per_person',
						ValueB : 'electricity_use_per_person',
						ValueC : 'surface_area_sq_km'
					};
					
					var selectX = document.getElementById("XAxis");
					var selectY = document.getElementById("YAxis");
					for(index in example_array) {
						selectX.options[selectX.options.length] = new Option(example_array[index], index);
						selectY.options[selectY.options.length] = new Option(example_array[index], index);
					}
					
					var margin = {top: 10, right: 30, bottom: 30, left: 60},
						width = 460 - margin.left - margin.right,
						height = 400 - margin.top - margin.bottom;
					
					var svg = d3.select("#background-destruction")
						.append("svg")
							.attr("width", width + margin.left + margin.right)
							.attr("height", height + margin.top + margin.bottom)
						.append("g")
							.attr("transform",
								"translate(" + margin.left + "," + margin.top + ")");

					//d3.json("https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/2_TwoNum.csv",function(data){
					d3.json("http://10.25.138.109/countries",function(data){

						var x = d3.scaleLinear()
							.domain([0, 4000])
							.range([ 0, width ]);
						svg.append("g")
							.attr("transform", "translate(0," + height + ")")
							.call(d3.axisBottom(x));
							
						// Add Y axis
						var y = d3.scaleLinear()
							.domain([0, 500000])
							.range([ height, 0]);
						svg.append("g")
							.call(d3.axisLeft(y));
							
							
						// Add dots
						svg.append('g')
							.selectAll("dot")
							.data(data)
							.enter()
							.append("circle")
								.attr("cx", function (d) { return x(d.GrLivArea); } )
								.attr("cy", function (d) { return y(d.SalePrice); } )
								.attr("r", function(d){ return Math.random() * 20 + 10})
								.style("fill", function(d,i){ return i % 2 == 0 ? "red" : "blue" })

					})






				/*
					
					
					var g = d3.select("svg").selectAll("g").data(json);
		
					var en = g.enter().append("g")
					    .on("mouseover", mouseover)
						.on("mouseleave", mouseleave)
						.attr("transform",function(d){
						return "translate("+ (Math.random() * 900) + 40 + "," + (Math.random() * 900) + 40 +")" 
					});
					//.on("mouseover", function(){return tooltip.style("visibility", "visible");})
					//.on("mouseout", function(){return tooltip.style("visibility", "hidden");});
					//.on('mouseover', tooltip.show)
					//.on('mouseout', tooltip.hide);
					//.on("mouseover", en.append("text").text(function(d){ return d.name }))
					//.on("mouseout", en.append("text").text(""));
					
					var x = d3.scaleLinear()
						.domain([0, 4000])
						.range([ 0, width ]);
					svg.append("g")
						.attr("transform", "translate(0," + height + ")")
						.call(d3.axisBottom(x));
							
					// Add Y axis
					var y = d3.scaleLinear()
						.domain([0, 500000])
						.range([ height, 0]);
					svg.append("g")
						.call(d3.axisLeft(y));
					
					var circle = en.append("circle")
						//.data(d => d.name)
						.attr("cx", function (d) { return x(d.data); } )
						
						//.attr("cy", function (d) { return y(d["data"][electricity_use_per_person][year]); } )
						.attr("r",function(d){ return Math.random() * 20 + 10})
						.attr("fill",function(d,i){ return i % 2 == 0 ? "red" : "blue" });
						
					var mouseover = function(d) {
						tooltip
							.style("opacity", 1)
					}
					
					var mouseleave = function(d) {
						tooltip
							.transition()
							.duration(200)
							.style("opacity", 0)
					}*/
					
					//console.log(function(d){ return d.name })
					/*
					var tooltip = d3.select("body")
						.selectAll("svg")
						.data(data)
						.style("position", "absolute")
						.enter().append("div")
						//.style("width", function(d) { return x(d) + "px"; })
						.style("visibility", "hidden")
						.text(function(d) { return d.name; });*/
						//.style("z-index", "10")
						
						//.text("a simple tooltip")
						//.tyme()
						//.append(tyme);
						//.text(function(d){ return d.name });
						
					
					//en.append("text").text(function(d){ return d.name });
					
					//en.append("text").text(function(d){ return d.data.surface_area_sq_km });
					/*
					g.append("svg")
						.attr("class", "x axis");

						// Add the y-axis.
					g.append("svg")
						.attr("class", "y axis");*/
				
				}
			});		
		
		
		//Extra code - For reference
		/*
			$.ajax({
			  type: 'GET',
			  url: 'http://10.25.138.109/countries',
			  data: {get_param: 'value'},
			  dataType: 'json',
			  success: function (data) {
			  $.each(data, function(index, element) {
				$('#success').append($('<div>', {
					text: element.name
				}));
			  });
			  }
			});
			
			var data = [
			  { "name" : "Canada" },
			  { "name" : "New Zealand" }
			];

			var g = d3.select("svg").selectAll("g").data(data);
		
			var en = g.enter().append("g")
				.attr("transform",function(d){ 
				return "translate("+ (Math.random() * 100) + 40 + "," + (Math.random() * 100) + 40 +")" 
			});
			
			var circle = en.append("circle")
				.attr("r",function(d){ return Math.random() * 20 })
				.attr("fill",function(d,i){ return i % 2 == 0 ? "red" : "blue" });
			
			en.append("text").text(function(d){ return d.name });*/
					
				//});
			//}
		});
	
    </script>


</body>

</html>