<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<html>

<head>

    <title>D3</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">

	<script src="{{url_for('static', filename='scripts/script.js') }}"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	

</head>

<body>

<div id="success"><h2>Assignment 01</h2></div>
	
	<svg width="1080" height="1080">
	</svg>
    <script type="text/javascript">
	
		$(document).ready(function()
		{
			$.ajax({
				//Get all the countries from the countries page.
				url: "http://10.25.138.109/countries",
				//force to handle it as text
				dataType: "text",
				success: function(data) {

					//data downloaded so we call parseJSON function 
					//and pass downloaded data
					var json = $.parseJSON(data);
					
					
					var g = d3.select("svg").selectAll("g").data(json);
		
					var en = g.enter().append("g")
						.attr("transform",function(d){ 
						return "translate("+ (Math.random() * 900) + 40 + "," + (Math.random() * 900) + 40 +")" 
					});
					
					var circle = en.append("circle")
						.attr("r",function(d){ return Math.random() * 20 })
						.attr("fill",function(d,i){ return i % 2 == 0 ? "red" : "blue" })
						.on("mouseover", handleMouseOver)
						.on("mouseout", handleMouseOut);
					
					//en.append("text").text(function(d){ return d.name });
					
					
					function handleMouseOver(d, i) {  // Add interactivity

						// Use D3 to select element, change color and size
						d3.select(this).attr({
						  fill: "orange",
						  r: radius * 2
						});

						// Specify where to put label of text
						svg.append("text").attr({
						   id: "t" + d.x + "-" + d.y + "-" + i,  // Create an id for text so we can select it later for removing on mouseout
							x: function() { return xScale(d.x) - 30; },
							y: function() { return yScale(d.y) - 15; }
						})
						.text(function() {
						  return [d.name];  // Value of the text
						});
					  }

					function handleMouseOut(d, i) {
						// Use D3 to select element, change color back to normal
						d3.select(this).attr({
						  fill: "black",
						  r: radius
						});

						// Select text by id and then remove
						d3.select("#t" + d.x + "-" + d.y + "-" + i).remove();  // Remove text location
					}
					
					//now json variable contains data in json format
					//let's display a few items
					/*
					for (var i=0;i<json.length;++i)
					{
						$('#success').append('<div class="name">'+json[i].name+'</>');
					}*/
				}
			});
		
		
		
		
		
		
		
		//Extra code - For reference
		/*
			$.ajax({
			  type: 'GET',
			  url: 'http://10.25.138.109/countries',
			  data: {get_param: 'value'},
			  dataType: 'json',
			  success: function (data) {
			  $.each(data, function(index, element) {
				$('#success').append($('<div>', {
					text: element.name
				}));
			  });
			  }
			});
			
			var data = [
			  { "name" : "Canada" },
			  { "name" : "New Zealand" }
			];

			var g = d3.select("svg").selectAll("g").data(data);
		
			var en = g.enter().append("g")
				.attr("transform",function(d){ 
				return "translate("+ (Math.random() * 100) + 40 + "," + (Math.random() * 100) + 40 +")" 
			});
			
			var circle = en.append("circle")
				.attr("r",function(d){ return Math.random() * 20 })
				.attr("fill",function(d,i){ return i % 2 == 0 ? "red" : "blue" });
			
			en.append("text").text(function(d){ return d.name });*/
			
		});
	
    </script>


</body>

</html>