<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<html>

<head>

	<title>Index of Contents</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">

	<script src="{{url_for('static', filename='scripts/script.js') }}"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="navbar-toggler-icon"></span>
		</button> <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{url_for('static', filename='img/logoGlobe.png') }}" alt="Logo" style="width: 50px; height: 50px;"></a>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="navbar-nav"></ul>

			<ul class="navbar-nav ml-md-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('inspire') }}">Inspirations <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('d3_data') }}">D3 Graph<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('d3_data') }}">Country Data<span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="#">Empty Link <span class="sr-only">(current)</span></a>
				</li>

			</ul>
		</div><br><br><br>
	</nav>

		
	<div class="block1">
	
		<div class="container-fluid">

		<div class="main">
			<div class="row">
				<div class="content-container clearfix">
					<div class="col-6">
						<div class="content">
						
						</div>
					</div>
					<div class="col-6">
						<div class="image" style="text-align: center;">
							
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="container-fluid">

		<br>
		<div class="row">
			<div class="col-5"><h1>Title</h1><h5>This website is focused on countries</h5></div>
			<div class="col-7"><img src="{{url_for('static', filename='img/Globe.svg') }}" alt="Globe Image" style="height: 50%;"></div>
		</div>
		<br>

		<div class="row">
			<a href="https://upload.wikimedia.org/wikipedia/commons/f/fa/Globe.svg">Image</a>
		</div>

	</div>	
	
		</div>	
		<br><br>
	
		<div class="block2" style="padding-top: 70px; padding-bottom: 70px; background-color: #131617;">
				
			<div class="wrap" style="padding-left: 70px; padding-right: 70px;">
				
				<div class="cardGroup" style="color: white; display: grid;">				
						
					<div class="row">
						<div class="col-4">
							
							<div class="cardA" style="padding: 36px; border-bottom: .25rem solid red; flex-direction: column;">
						
								<div class="a" style="padding-bottom: 50px;">
									<a>Assignment 01</a><br>
									<a>Sample Image here</a>								
								</div>
										
								<div class="a">
									<a>Link</a>										
								</div>
										
								<div class="a">
									<a>c</a>									
								</div>			
							
							</div>
							
						</div>
							
						<div class="col-4">
							
							<div class="cardA" style="padding: 36px; border-bottom: .25rem solid red; border-top: .25rem solid #98f5df; padding-bottom: 50px;">
								<div class="a" style="padding-bottom: 50px;">
									<a>Assignment 02</a><br>
									<a>Sample Image here</a>								
								</div>
										
								<div class="a">
									<a>Link</a>										
								</div>
										
								<div class="a">
									<a>c</a>									
								</div>	
							</div>
							
						</div>
						<div class="col-4">
							
							<div class="cardA" style="padding: 36px; border-bottom: .25rem solid red; padding-bottom: 50px;">
								<div class="a" style="padding-bottom: 50px;">
									<a>Inspirations</a>							
								</div>
										
								<div class="a">
									<a>Link</a>										
								</div>
										
								<div class="a">
									<a>c</a>									
								</div>	
							</div>
						
						</div>
					</div>	
				</div>			
			</div>		
		</div>
	</body>
</html>