<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<html>

<head>

    <title>Inspiration Page</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">

	<script src="script.js"></script>
</head>

<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{url_for('static', filename='img/logo.png') }}" alt="Logo" style="width: 45px; height: 45px;"></a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav"></ul>
        
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('index') }}">Index <span class="sr-only">(current)</span></a>
                        </li>
        
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Empty Link <span class="sr-only">(current)</span></a>
                        </li>
        
                    </ul>
                </div>
            </nav>
    
            <div class="container-fluid">

        <br>
        <div class="row">
            <div class="col-3"><a></a></div>
            <div class="col-6"><a></a></div>
            <div class="col-3"><a></a></div>
        </div>
        <br>
        <h1>Inspiration Websites</h1>

        <a href="{{ url_for('index') }}">Goto index</a><br><br>

        <a href="https://magnet.co/">https://magnet.co/</a><br>
		<br>
		<p>I liked the navbar where there is a logo on the left and links on the right.</p>
		<img src="{{url_for('static', filename='img/magnet01.png') }}" alt="https://magnet.co/">
		<p>In this site I liked the simplistic look.</p>
		<br>
		
        <a href="https://evernote.com/">https://evernote.com/</a><br>
		<br>
		<p>Text on left, image on right.</p>
		<img src="{{url_for('static', filename='img/evernote01.png') }}" alt="https://evernote.com/">			
		<br>
		
        <a href="https://craftcms.com/">https://craftcms.com/</a><br>
		<br>
		<p>8 image icons.</p>
		<br>
		
        <a>Logo Image</a><br>
		<br>
		<p href="https://publicdomainvectors.org/en/free-clipart/Globe-with-borders-vector-clip-art/6047.html">https://publicdomainvectors.org/en/free-clipart/Globe-with-borders-vector-clip-art/6047.html</p>
		<br>
		
    </div>

</body>

</html>