<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<html>

<head>

    <title>D3</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">

	<script src="{{url_for('static', filename='scripts/script.js') }}"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	

</head>

<body>

	
	<svg width="720" height="120">
	  <circle cx="40" cy="60" r="30" style="fill:steelblue;"></circle>
	  <circle cx="80" cy="60" r="30" style="fill:steelblue;"></circle>
	  <circle cx="120" cy="60" r="30" style="fill:steelblue;"></circle>
	</svg>
    <script type="text/javascript">
		var circle = d3.selectAll("circle");
		circle.style("fill", "steelblue");
		circle.attr("r", 30);
    </script>


</body>

</html>