<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<html>

<head>

    <title>Website Quark</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">

	<script src="{{url_for('static', filename='scripts/script.js') }}"></script>
	
	<script>
		$(document).ready(function(){
			var name = "Bob";
			console.log(name);
			$.ajax({url: "{{url_for('static', filename='ajax.txt') }}", success: function(result){
				console.log(name);
				$("#success").html(result);
			}});
			$.ajax({url: "{{url_for('static', filename='html/ajaxTest.html') }}", success: function(result){
				console.log(name);
				$("#always").html(result);
			}});
			$.ajax({url: "{{url_for('static', filename='html/referencePahe.html') }}", success: function(result){=
				$("#mainStuff").html(result);
			}});
		});
	</script>
</head>

<body>

    <div class="container-fluid" id="mainStuff">

		
    </div>


<div id="success"><h2>begin</h2></div>
<div id="fail"><h3>finish</h3></div>
<div id="always"><h4>アカリがきたぞっ</h4></div>


</body>

</html>